MONGODB_URI=mongodb://qiyuanlau_db_user:6fwwzkXzLFUDPNHu@ac-zwnmhb7-shard-00-00.7xxhb5w.mongodb.net:27017,ac-zwnmhb7-shard-00-01.7xxhb5w.mongodb.net:27017,ac-zwnmhb7-shard-00-02.7xxhb5w.mongodb.net:27017/?ssl=true&replicaSet=atlas-wvx61y-shard-0&authSource=admin&appName=ST3
MONGODB_DATABASE=ST3
MONGODB_WORK_ORDER_COLLECTION=work_orders